/****** General *******/
@media (max-width: 375px) {

    body {
        font-family: 'Roboto', sans-serif;
        background-color: var(--main-color);
    }

    :root {
        --main-color: #F3F3F3;
        --bloc-color: #FFFFFF;
        --loca-color: #EAEAEA;
        --first-button-color: #9356DC;
        --second-button-color: #FF79DA;
        --new-color: #99E2D0;
        --new-text-color:#008766;
        --footer-color: #353535;
    }

    .fa-solid {
        color: var(--footer-color);
    }

    #store-color {
        color: var(--first-button-color);
    }

    h1 {
        font-weight: 700;
        font-size: 24px;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--bloc-color);
    }

    .box-logo {
        width: 100%;
        box-shadow: 0px 2px 4px 0px #00000026;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 14px 89px 14px 89px;
        height: 36px;
    }

    #nav {
        width: 100%;
        background-color: var(--loca-color);
    }

    .localisation {
        display: flex;
        justify-content: center;
    }

    .vector1 {
        margin: 0 17px 0 0;
    }

    .titre {
        font-family: 'Shrikhand', cursive;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 30px 20px 30px;
        text-align: center;
        justify-content: center;
    }
    
    .explorer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        border: none;
        background: linear-gradient(359deg, #9356DC, #FF79DA);
        height: 50px;
        width: 218px;
        border-radius: 25px;
        font-size: 16px;
        color: #FFFFFF;
        box-shadow: 0px 4px 10px 0px #00000040;
    }

    .fonctionnement {
        width: 100%;
        background-color: var(--bloc-color);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #fonc-title {
        padding: 0 0 0 20px;
    }

    .fonct {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .fonct-num {
        width: 24px;
        height: 24px;
        background-color: var(--first-button-color);
        color: #FFFFFF;
        position: absolute;
        left: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

    .fonct-box {
        height: 72px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 15px 0px #00000026;
        background-color: var(--main-color);
        margin: 0 30px;
    }

    .fonct-txt {
        font-weight: 700;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .fonct-vector {
        padding: 20px;
        color: #7E7E7E;
    }

    .restaurants {
        width: 100%;
    }

    .cards {
        width: 100%;
        background-color: var(--bloc-color);
        display: flex;
        flex-direction: column;
        border-radius: 15px;
    }

    .card-title {
        font-size: 18px;
        font-weight: 700;
    }

    .card-sub {
        font-size: 17px;
        font-weight: 300;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .img-cards {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }

    .new-card {
        width: 80px;
        height: 29px;
        position: absolute;
        top: 10px;
        left: 260px;
        background-color: var(--new-color);
        color: var(--new-text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }

    .cards-content {
        width: 100%;
    }

    .footer {
        width: 100%;
        background-color: var(--footer-color);
    }
}