.footer {
    padding: 17px;
    background-color: var(--footer-color);
    
    #ohmyfood {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        color: var(--bloc-color);
        margin-top: 0;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        color: var(--bloc-color);
        gap: 16px;

        .footer-vector {
            color: var(--bloc-color);
        }
        
        .footer a {
            color: var(--bloc-color);
            text-decoration: none;
        }
    }
}