.footer {
    padding: 17px;
    background-color: var(--footer-color);
    
    #ohmyfood {
        font-family: 'Shrikhand', cursive;
        font-size: 18px;
        color: var(--bloc-color);
        margin-top: 0;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        color: var(--bloc-color);
        gap: 16px;

        .footer-vector {
            color: var(--bloc-color);
        }
        
        .footer a {
            color: var(--bloc-color);
            text-decoration: none;
        }
    }
}

/******Phone screen******/

/******General******/

@media (min-width: 767.98px) {

    .footer {
        padding: 60px 20px 30px 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        #ohmyfood {
            margin: 0 0 0 80px;
            .footer-list {
                flex-direction: unset;
            }
        }
    }
}