body {
    height: 100%;
}

body.loading .loader {
    animation: fadeOut 1s forwards 3s;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
}

.lettre {
    color: var(--footer-color);
    font-size: 48px;
    letter-spacing: 15px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: var(--main-color);
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: var(--footer-color);
        text-shadow: none;
    }
    100% {
        color: var(--main-color);
        text-shadow: 0 0 7px #fff900;
    }
}

.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.lettre:nth-child(4) {
    animation-delay: 0.4s;
}

.lettre:nth-child(5) {
    animation-delay: 0.5s;
}

.lettre:nth-child(6) {
    animation-delay: 0.6s;
}

.lettre:nth-child(7) {
    animation-delay: 0.7s;
}

.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

.lettre:nth-child(9) {
    animation-delay: 0.9s;
}

.lettre:nth-child(10) {
    animation-delay: 1s;
}

/******General******/



.info {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px 20px 30px;
    text-align: center;
    justify-content: center;

    p {
        font-weight: 300;
    }

}

.fonctionnement {
    background-color: var(--bloc-color);
    display: flex;
    flex-direction: column;
    padding: 30px 0 40px 0;

    #fonc-title {
        padding: 0 0 0 20px;
    }

    .fonct {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .fonct-num {
            width: 24px;
            height: 24px;
            background-color: var(--first-button-color);
            color: #FFFFFF;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin: 25px 15px;
            font-size: 14px;
        }

        .fonct-box {
            height: 72px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            box-shadow: 0px 4px 15px 0px #00000026;
            background-color: var(--main-color);
            margin: 0 30px;

            .fonct-txt {
                font-weight: 500;
                font-size: 16px;
                margin: 0;
                padding: 0;
            }
        
            .fonct-vector {
                padding: 20px;
                color: #7E7E7E;
                margin-left: 20px;
            }
        }
    }
}

.restaurants {
    #resto-cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: unset;

        .cards {
            width: 100%;
            background-color: var(--bloc-color);
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            height: 251px;
    
            .image-container {
                position: relative;
                display: inline-block;
                height: 70%;
    
                .img-cards {
                    width: 100%;
                    border-radius: 15px 15px 0 0;
                    height: 175px;
                    object-fit: cover;
                }
    
                #new-card {
                    width: 80px;
                    height: 29px;
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    background-color: var(--new-color);
                    color: var(--new-text-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 2px;
                    font-weight: 500;
                }
            }
    
            .cards-content {
                padding: 10px;
                height: 30%;
                display: flex;
                justify-content: space-between;
    
                .resto-txt {
                    text-decoration: none;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    #card-title {
                        font-weight: 700;
                    }

                    #card-sub {
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

#heart-vector {
    font-size: 22px;
    padding: 0;
    border: none;
    margin: 10px;
    position: absolute;
    background: var(--bloc-color);
    background-clip: content-box;
    color: black;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#hover-vector {
    font-size: 22px;
    padding: 0;
    margin: 10px;
    border: none;
    background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
    background-clip: content-box;
    color: transparent;
    -webkit-background-clip: text;
    opacity: 0;
}

#hover-vector:hover {
    opacity: unset;
}

#heart-vector:hover {
    opacity: 0;
}

.restaurants {
    margin: 17px;
}

.restaurants a {
    text-decoration: none;
    color: var(--footer-color);
}

.restaurants h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.restaurants p {
    font-weight: 300;
    font-size: 17px;
    margin: 0;
}

.h2-box {
    font-size: 16px;
    font-weight: 300;   
    display: flex;
    height: 27px
}

.underline {
    height: 27px;
    border-bottom: 3px solid #99E2D0
}

.pages-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.pages-cards {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: unset;
    background-color: var(--bloc-color);
    padding: 0 17.5px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    height: 69px;
    overflow: hidden;
    position: relative;
}

.cards-bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 95%;
    transition: width 0.3s ease-in-out;
}

.cards-bloc h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.cards-bloc p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.price-bloc {
    display: flex;
    justify-content: center;
}

.price-bloc p {
    margin: 0;
}


/******Page1******/

.page1-img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.page1-bloc {
    border-radius: 40px ;
    position: relative;
    top: -45px;
    background-color: var(--main-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title-box {
        display: flex;
        justify-content: space-between;

        #titre {
            font-family: 'Shrikhand', cursive;
            margin: 0;
            font-size: 28px;
        }
    }
}

/******Phone screen******/

/******General******/

@media (min-width: 767.98px) {
    .info {
        flex-direction: column;
        padding: 50px;
    }
    
    .fonctionnement {
        padding: 50px;
    
        .fonct {
            flex-direction: unset;
            justify-content: space-evenly;
    
            .fonct-bloc {
                width: 30%;
            }
        }
    
    }
    
    .restaurants {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 50px;
    
        h1 {
            margin: 0;
        }
    
        .bloc-resto {
            display: flex;
            flex-direction: column;
            gap: 50px;
    
            #resto-cards {
                flex-direction: row;
                justify-content: space-between;
    
                .card-bloc {
                    width: 47%;
                }
            }
        }
    }
}

/******Page1******/

@media (min-width: 767.98px) {
    .pages {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bloc-color);
        .page1-bloc {
            width: 60%;
            border-radius: 40px 40px 0 0;
            padding-bottom: 50px;
            .title-box {
                justify-content: center;
            }
        }
    }
}