.button-place {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button {
    border: none;
    background: linear-gradient(359deg, #9356DC, #FF79DA);
    height: 50px;
    width: 218px;
    border-radius: 25px;
    font-size: 16px;
    color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #00000040;

    &:hover {
        transform: scale(1);
        box-shadow: 0px 4px 15px 0px #00000059;
        background: linear-gradient(359deg, #9356DC, #FF79DA);
        opacity: 0.9;
    }
}



.check {
    position: absolute;
    right: 0;
    transition: width 0.3s ease-in-out;
    display: flex;
    background-color: var(--new-color);
    width: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 0 15px 15px 0;
    height: 100%;
    .fa-solid {
        color: var(--bloc-color);
    }
}

.pages-cards:hover {
    .check {
        width: 69px;
    }
    .price-bloc {
        transform: translateX(-69px);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (min-width: 767.98px) {
    .pages-cards:hover {
        .cards-bloc {
            width: 90%;
        }
    }
}

.heart-hover:hover {
    animation: colorFill 2s ease-in-out;
    .hover-vector {
        opacity: unset;
    }

    .heart-vector {
        opacity: 0;
    }
}

@keyframes colorFill {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: unset;
    }
}
