body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
    margin: 0;
}

:root {
    --main-color: #F3F3F3;
    --bloc-color: #FFFFFF;
    --loca-color: #EAEAEA;
    --first-button-color: #9356DC;
    --second-button-color: #FF79DA;
    --new-color: #99E2D0;
    --new-text-color:#008766;
    --footer-color: #353535;
}

.fa-solid {
    color: var(--footer-color);
}

#store-color {
    color: var(--first-button-color);
}

h1 {
    font-weight: 700;
    font-size: 24px;
}

